#editor-panes {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  bottom: 0;
}

#editor-panes > .editor-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#input-editor {
  left: 0;
  width: 33.3333%;
  scroll-x: 
}

#output-editor {
  left: 33.33333%;
  right: 0;
  background-color: #272822;
}

.ui-resizable-e {
  cursor: ew-resize;
  width: 5px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: gray;
  position: absolute;
  z-index: 50 !important;
}

#input-editor #input-http-editor .ace_gutter .ace_gutter-cell,
#output-editor #output-http-editor .ace_gutter .ace_gutter-cell{
  color: transparent;
}

#input-editor .btn.send-request {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 100;
  color: #0a0;
  height: 1em;
  line-height: 1em;
  border: none;
  padding: 0;
  margin: -1px 0 0 0;
}

#input-editor .body-label {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  color: gray;
  border-left: #eee solid 41px;
  padding-left: 5px;
}

#output-editor .btn.forget-credentials {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 100;
  color: #f66;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
}

#output-editor #output-body-editor {
  margin-top: 1em;
}

.server-item > .api {
  color: gray;
}

.server-option > span {
  display: block;
}

.server-option > .api {
  font-weight: bold;
}

.server-option > .url {
  color: gray;
}