#editor-panes {
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  bottom: 0;
}

#endpoint-selection {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 35px;
  color: #333;
  border-bottom: gray solid 3px;
}

.navbar-static-top {
  z-index: 0 !important;
}

#endpoint-selection .selectize-container {
  position: absolute;
  left: 65px;
  right: 95px;
}

#endpoint-selection .selectize-container .selectize-control .selectize-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#endpoint-selection .selectize-container .editable-input {
  position: absolute;
  z-index: 5;
  top: 5px;
  left: 10px;
  height: 25px;
  line-height: 25px;
  padding-right: 50px;
  background: white;
}

#endpoint-selection .btn.send-request {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 36px;
  line-height: 24px;
}

#endpoint-selection .btn.show-history {
  border-radius: 0;
  height: 36px;
  line-height: 24px;
}

#editor-panes > .editor-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#input-editor {
  left: 0;
  width: 33.3333%;
  scroll-x: 
}

#output-editor {
  left: 33.33333%;
  right: 0;
  background-color: #272822;
}

.ui-resizable-e {
  cursor: ew-resize;
  width: 5px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: gray;
  position: absolute;
  z-index: 5 !important;
}

#input-editor #input-http-editor .ace_gutter .ace_gutter-cell,
#input-editor #input-auto-headers .ace_gutter .ace_gutter-cell,
#output-editor #output-http-editor .ace_gutter .ace_gutter-cell {
  color: transparent;
}

#input-editor .btn.send-request {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 100;
  color: #0a0;
  height: 1em;
  line-height: 1em;
  border: none;
  padding: 0;
  margin: -1px 0 0 0;
}

#input-editor #input-auto-headers {
  color: #aaa;
}

#input-editor .body-label {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  font-weight: bold;
  color: #600;
  padding-left: 5px;
}

#output-editor .btn.forget-credentials {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 5;
  color: #f66;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
}

#output-editor #output-body-editor {
  margin-top: 1em;
}

.server-item > .api {
  color: gray;
}

.server-option > span {
  display: block;
}

.server-option > .api {
  font-weight: bold;
}

.server-option > .url {
  color: gray;
}

.endpoint-url > .method {
  font-weight: bold;
  color: #606;
}

.endpoint-option .endpoint-description {
  color: gray;
}